<header>
  <nav>
      <ul>
          <li><a href="/entities">Клиенты</a></li>
          <li><a href="/products">Продукты</a></li>
          <li><a href="/sales">Продажы</a></li>
          <li><a href="/accounts">Выход</a></li>
      </ul>
  </nav>
</header>