<nav class="clients-nav">
  <ul>
      <li><a href="/entities" class="client-item">Юридическия лица</a></li>
      <li><a href="/individuals" class="client-item">Физические лица</a></li>
  </ul>
</nav>