<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="account">
        <div class="account-form">
            <h1>Авторизация</h1>
            <input class="login" type="text" placeholder="username">
            <input class="password" type="password" placeholder="password">
            <% if (accounts.length) { %>
                <% accounts.forEach(({login, password}) => { %>
                    <input class="loginHidden" type="hidden" value="<%= login %>">
                    <input class="passwordHidden" type="hidden" value="<%= password %>">
                <% }); %>
            <% } %>
            <p class="error-text">Вы ввели неправильно логин или пароль</p>
            <button class="sign">Войти</button>
                </div>
    </div>
    <script>
        let login = document.querySelector('.login');
        let password = document.querySelector('.password');
        let loginHidden = document.querySelectorAll('.loginHidden');
        let passwordHidden = document.querySelectorAll('.passwordHidden');
        let button = document.querySelector('.sign');
        let errorText = document.querySelector('.error-text');

        button.addEventListener('click', () => {
            for (let i = 0; i < loginHidden.length; i++) {
                if (login.value == loginHidden[i].value && password.value == passwordHidden[i].value) {
                    window.location.href = '/entities';
                    break;
                }
                else {
                    errorText.classList.add('view');
                }
            }
        })
    </script>
</body>
</html>