<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="entities">
    <form method="post" action="/add-product" class="edit-client edit-individuals">
      <h1>Добавить продукт</h1>
      <input type="text" name="name" placeholder="Название">
      <input type="text" name="count" placeholder="Количество" class="count-input">
      <input type="text" name="price" placeholder="Цена за единицу" class="price-input">
      <div class="form-buttons">
        <input class="input-button" type="submit" value="Submit">
        <a href="/products">Отмена</a>
      </div>
    </form>
  </div>
</body>
</html>